@charset "UTF-8";

body {
  background-color:#AAAAAA;
}

div {
  text-align: center;
}

.topimg {
  width: 720px;
  height: 30px;
}

table {
  width: 80%;
  border-collapse: collapse;
  border-color: #888;
  margin-left: auto;
  margin-right: auto;
}

th,td {
  border: solid 1px #888888;
  padding: 1px;
}

table.aaa td {
  text-align:center;
}

td.title {
  width: 52%;
  background-color: #99AA99;
  font-weight: normal;
  font-size: 15px;
  height: 32px;
  text-align: center;
}

.sp1 {
  font-weight: bold;
  font-size: 18px;
}

.sp2 {
  margin-right: 10px;
  font-size: 15px;
}

.sp3 {
  margin-right: 12px;
}

.sp4 {
  color: #005500
}

.thumb {
  width: 50%;
}

.setumei {
  font-size: 15px;
  line-height: 14px;
  padding: 3px;
}

.mainphoto {
  width: 95%;
}

td.none {
  padding-top: 10px;
  text-align: right;
  border: none;
}
