@charset "UTF-8";

body  {
  background-color:#AAAAAA;
  margin-top: 30px;
}

div {
  text-align: center;
}

table {
  width: 720px;
  border-collapse: collapse;
  background-color: #888888;
  border-color: #888888;
  margin-left: auto;
  margin-right: auto;
}

table th {
  border: solid 1px black;
  width: 720px;
  padding: 1px;
}
