@charset "UTF-8";

body {
  background-color:#AAAAAA;
}

div {
  text-align: center;
}

.topimg {
  width: 720px;
  height: 30px;
}

table {
  width: 720px;
  border-collapse: collapse;
  border-color: #888;
  margin-left: auto;
  margin-right: auto;
}

th,td {
  border: solid 1px #888888;
  padding: 1px;
}

table.bbb td {
  width
}

table.bbb th {
  background-color: #99AA99;
}

/*
td.none {
  border: none;
  text-align: right;
}
*/
